* {
  box-sizing: border-box;
}

.LoginForm {
  max-width: 250px;
  max-height: 300px;
  margin: 50px auto;
  text-align: center;
  color: rgb(9, 9, 247);
  background-color: rgb(109, 165, 230);
}
button {
  margin-top: 20px;
}
div {
  margin-top: 1rem;
}
