* {
  box-sizing: border-box;
}

.LoginForm {
  max-width: 250px;
  max-height: 150px;
  margin: 50px auto;
  text-align: center;
  color: navy;
}
button {
  margin-top: 25px;
}
div {
  margin-top: 1rem;
}
